

body {

background-color: #f0f0f0;

font-family: Arial, sans-serif;
}
h1 {


color: blue;

font-family: verdana;

font-size: 300%;
}

.container {

color: red;

font-family: verdana;

font-size: 300%;
}